[submodule "ExternalMedia"]
	path = ExternalMedia
	url = https://github.com/dongkeun-oh/ExternalMedia
	branch = nfri
[submodule "ThermoPower"]
	path = ThermoPower
	url = https://github.com/dongkeun-oh/ThermoPower
[submodule "OMTLMSimulator"]
	path = OMTLMSimulator
	url = https://github.com/dongkeun-oh/OMTLMSimulator
[submodule "test-cppfmu/external/fmu-uuid"]
	path = test-cppfmu/external/fmu-uuid
	url = https://github.com/viproma/fmu-uuid
